{% extends 'base.html.twig' %} {% block title %}Ingredient index{% endblock %}
{% block body %} {% if not ingredients.items is same as([]) %}
<h1 class="mt-5">Mes ingrédients</h1>

{# total items count #}
<div class="count mt-4">
  <h4>Il y a {{ ingredients.getTotalItemCount }} ingredients au total.</h4>
</div>

<table class="table mt-4">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>CreatedAt</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for ingredient in ingredients %}
    <tr>
      <td>{{ ingredient.id }}</td>
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.price }}</td>
      <td>
        {{ ingredient.createdAt ? ingredient.createdAt|date('Y-m-d H:i:s') : '' }}
      </td>
      <td>
        <a href="{{ path('app_ingredient_show', { id: ingredient.id }) }}"
          >show</a
        >
        <a href="{{ path('app_ingredient_edit', { id: ingredient.id }) }}"
          >edit</a
        >
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="5">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{# Ajout de la pagination #}
<div class="navigation d-flex justify-content-center">
  {{ knp_pagination_render(ingredients) }}
</div>
{% else %}
<h4>Il n'y a pas d'ingrédients</h4>
<a href="{{ path('app_ingredient_new') }}">Create new</a>
{% endif %} 
</div>
{% endblock %}
